.navbar {
  height: 70px;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #ffff;
}

.dropp {
  position: relative !important;
  top: 3px;
  color: #ff3e6c;
  height: 360px;
  width: 850px;
}

.marr {
  position: relative !important;
  left: 45px;
  font-size: 20px;
  font-weight: 400;
}

.log {
  position: relative !important;
  left: 50px;
}

.sta {
  position: relative !important;
  top: 52px !important;
}

.inpu {
  position: relative !important;
  left: -400px;
}

.iconss > i {
  margin-right: 30px;
}

.mar {
  margin-top: 40px;
}

.dropnav {
  background-color: #ffff;
}

.gridd {
  position: relative !important;
  top: 100px;
  margin-top: 50px;
}

.griddd {
  position: relative !important;
  top: 110px;
}

.checkk {
  background-color: #ff3e6c;
}

.listzoom:hover {
  /* transition; */
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.back:hover {
  background-color: #d2d5d9 !important;
  border: 2px solid #d2d5d9;
  color: black !important;
}

.landTop {
  position: relative !important;
  top: 110px;
}

@media (max-width: 990px) {
  .filterrr {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .filterrrr {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 150px !important;
  }
  .listt {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landdd {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landimg {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filterr {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dropp {
    display: none !important;
  }
  form {
    display: none !important;
  }
  .sta {
    display: none !important;
  }
  .marr {
    position: relative !important;
    top: 5px;
  }
  .searchBar {
    position: relative !important;
    left: 20px !important;
  }
  .iconss > i {
    position: relative !important;
    left: 130px !important;
  }
}
/*# sourceMappingURL=teashirt.css.map */