$white-color: #ffff;
$pink-color: #ff3e6c;
$gray-color: #d2d5d9;
$relative: relative !important;
$display-none: none !important;
$disp-size: 990px;

@mixin forRespone($direction) {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  flex-direction: $direction;
}
@mixin diplayResponsive {
  @media (max-width: $disp-size) {
    @content;
  }
}
.navbar {
  height: 70px;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: $white-color;
}
.dropp {
  position: $relative;
  top: 3px;
  color: $pink-color;
  height: 360px;
  width: 850px;
}
.marr {
  position: $relative;
  left: 45px;
  font-size: 13px;
  font-weight: 700;
  color: black !important;
}
.navfont {
  color: rgba(7, 7, 7, 0.801) !important;
}
i {
  font-size: 17px;
  font-weight: 900 !important;
}
.iconfont {
  color: rgb(7, 7, 7) !important;
  font-size: 12px;
  font-weight: 600 !important;
}
.log {
  position: $relative;
  left: 50px;
}
.sta {
  position: $relative;
  top: 52px !important;
}
.inpu {
  position: $relative;
  left: -400px;
}

.iconss {
  & > i {
    margin-right: 30px;
  }
}
.mar {
  margin-top: 40px;
}
.dropnav {
  background-color: $white-color;
}
.gridd {
  position: $relative;
  top: 100px;
  margin-top: 50px;
}
.griddd {
  position: $relative;
  top: 70px;
}
.checkk {
  background-color: $pink-color;
}
.listzoom {
  &:hover {
    /* transition; */
    transition-delay: 0s;
    transition-duration: 1s;
    transform: scale(0.7, 0.7);
    transition-property: transform;
  }
}

.back {
  &:hover {
    background-color: $gray-color !important;
    border: 2px solid $gray-color;
    color: black !important;
  }
}
.landTop {
  position: $relative;
  top: 80px;
}
@include diplayResponsive {
  
  .searchBar {
    position: $relative;

    left: 20px !important;
  }
  .iconss {
    & > i {
      position: $relative;

      left: 130px !important;
    }
  }
}

.scrolll {
  height: 400px;
}
@media (max-width: 600px) {
  .scrolll {
    height: 130px;
  }
}
